# Flask Secret Keys
SECRET_KEY=oWPH48DBZn6coNyDzPv4PocphEjfV3nrz83WaYNGhr8
JWT_SECRET_KEY=ku-NW50Fqk7Z9H5OoHEaBMjRHQLowXuFaBQ-UtCtgzE

# NeonDB PostgreSQL Database Connection
# Format: postgresql://username:password@host/database_name
DATABASE_URL=postgresql://username:password@your-neondb-host.neon.tech/database_name

# JWT Configuration (in seconds)
JWT_ACCESS_TOKEN_EXPIRES=86400

# File Upload Configuration
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216
